<!DOCTYPE html>

<title>Tests session over</title>

<link rel="stylesheet" type="text/css" href="/styles/base.css"/>
<style>
    #restart-link {
        display: inline-block;
        margin: 10px 0 0 10px;
    }

    .report-message {
        margin-left: 10px;
    }
</style>

<div class="title">
    <span class="meep-meep">Meep-Meep</span>
    - Test running session
</div>
<p class="report-message">>Tests finished</p>

<a id="restart-link" class="button action" href="/tests">Restart</a>

<script type="text/javascript">
    var querystring = (location.href.split('?')[1]).split('&');
    var querystringObj = {};
    querystring.forEach(function(element) {
        var terms = element.split('=');
        querystringObj[terms[0]] = terms[1];
    });
    delete querystringObj['testIndex'];
    delete querystringObj['testRunnerSession'];
    var restartQuerystring = [];
    for(var querystringParam in querystringObj) {
        restartQuerystring.push(querystringParam + '=' + querystringObj[querystringParam]);
    }
    var restartLink = document.getElementById('restart-link');
    restartLink.href = location.origin + location.pathname + '?' + restartQuerystring.join('&');
</script>
