<!DOCTYPE html>
<html>
    <head>
        <title>Test in progress</title>
        <style>
            .title {
                position: absolute;
                top: 0;
                left: 0;
                right: 0px;
                padding: 10px 70px 10px 10px;
                height: 40px;
                margin: 0 0 10px 0;

                font-size: 16px;
                font-family: sans-serif;
                background: #ddd;
                color: #222;
                text-align: right;
                border-bottom: 1px solid #aaa;
            }
        </style>
    </head>
    <body>
        <script type="text/javascript">
            var testRunnerSession = '<%= qs.testRunnerSession %>';
            function parseQuerystring() {
                var tmp = location.href
                    .split('?')[1]
                    .split('&');
                var result = {};
                tmp.forEach(function(param) {
                    var paramPair = param.split('=');
                    result[paramPair[0]] = paramPair[1];
                });
                return result;                
            }

            function stringifyQuerystring(querystringObject) {
                var result = [];
                for(var paramName in querystringObject) {
                    result.push(paramName + '=' + querystringObject[paramName]);
                }
                result = result.join('&');
                return result;
            }

            var querystring = parseQuerystring();
            if(querystring.testIndex) {
                querystring.testIndex = parseInt(querystring.testIndex) + 1;
            }
            else {
                querystring.testIndex = 1;
            }
            querystring.testRunnerSession = testRunnerSession;


            function report(failures) {
                document.title = 'Test finished (' + (failures ? 'failure' : 'success') + ')';
                var img = new Image();
                img.src = [
                    '<%- qs.reporterUrl %>',
                    '&failures=' + failures,
                    '&testLocation=' + encodeURIComponent(location.origin),
                    '&tags=<%= tags.replace(' ', '') %>',
                <% Object.keys(qs).forEach(function(qsParam, index) { %>
                    <% if(['tags', 'testIndex', 'testRunnerSession', 'reporterUrl'].indexOf(qsParam) === -1) { %>
                        '&<%= qsParam %>=<%= qs[qsParam] %>'<%= (index < Object.keys(qs).length - 1) ? "," : "" %>
                    <% } %>
                <% }); %>
                    ].join('');
            }

            function nextTest() {
                if(!querystring.oneShot) {
                    location.replace(location.origin + location.pathname + '?' + stringifyQuerystring(querystring));
                }
            }
        </script>
        
        <div class="title">
            <%-
            Object.keys(qs)
                .filter(function(qsParam) {
                    return ['testIndex', 'testRunnerSession', 'reporterUrl', 'oneShot'].indexOf(qsParam) === -1;
                })
                .map(function(qsParam, index) { 
                    return qsParam + ' : <b>' + qs[qsParam] + '</b>'; 
                }
            ).join(' - ');
            %>
        </div>

<% pageElements.forEach(function(line) { %>
        <%- line %>
<% }); %>
    </body>
</html>
